

.font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.navpic{
  background-image: url("desktop2.jpg");

}
.navbar{
  background-color: rgb(21, 14, 14);
}
.foot-color{
  background-color: rgb(21, 14, 14);
  padding: 5px;

}

.title{
  text-align: center;
 
}
h1{
  color: antiquewhite;
}
h4{
  color: rgb(248, 46, 130);

} 
h2{
  color: rgb(248, 46, 130);
  /* background-color: rgb(34, 20, 20); */
}
h3{
  color: rgb(248, 46, 130);
}
h5{
  color: antiquewhite;
}
h6{
  color: antiquewhite;
}
.home-card{
  background-color: antiquewhite;
}

.text a:link{
  text-decoration: none;
}

.navbar{
  border-radius: 2px;
  border-style: solid;
  border-color: black;
  
}

.center{
  margin: auto;
}

.margin{
  margin: 10px;
}
.list{
  list-style-type: none;
}

.border{
  border-radius: 2px;
  border-style: solid;
  border-color: rgb(34, 20, 20);
}

.blue{
  color: blue;

}
.text-color{
  color: antiquewhite;

}
.lower-left{
  margin-top: 50vh;
  padding: 5px;

}
.login{
  padding: 5px;
}
.space{
  margin-top: 15px;
}
.dk{
  background-color: rgb(34, 20, 20);
}