body{
  background-image: url("desktop.jpg");
  /* background-color: rgba(255, 174, 0, 0.742); */
}
.navpic{
  background-image: url("desktop2.jpg");

}

.title{
  text-align: center;
 
}
h1{
  color: antiquewhite;
}
h6{
  color: antiquewhite;
}
.home-card{
  background-color: antiquewhite;
}

.text a:link{
  text-decoration: none;
}

.navbar{
  border-radius: 2px;
  border-style: solid;
  border-color: black;
  
}

.center{
  margin: auto;
}

.margin{
  margin: 10px;
}