<h1 class="title">Welcome to Old Timey Strings!</h1>
<div class="float-left margin">
<h1>Sign Up</h1>

<%= form_for @user do |form| %> 
 
<%= render partial: "users", locals: { form: form, user: @user  } %>

<div><%= form.submit "Sign Up"%></div>
<% end %>

<div class="text text-color"><%= link_to "Sign Up With Facebook", '/auth/facebook' %></div>
</div>
<div class="card cardsize margin-right">
    <img src="Coverpic.jpg" alt="Historical Photograph"  class="card-img-top img-fluid cardsize" >
</div>